@import "../../variables.scss";

.sideNavContainer {
  background-color: $tertiary-color;
  color: $main-white;
  width: 30%;
  padding: 20px;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 100;

  h1 {
    font-size: 36px;
  }

  .sideNavSearch {
    margin: 50px;
  }

  .sideNavButtons {
    margin: 50px;
  }
}
