@import "../../variables.scss";

.cards {
  max-width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 275px);
  grid-gap: 550px 5px;
  justify-content: space-evenly;
  height: 100%;
}
