@import "../../variables.scss";

.beerCard {
  height: 100%;
  width: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
  z-index: 0;

  &.faceDown {
    transform: rotateY(180deg);
  }

  .front {
    @extend %card;
  }

  .back {
    @extend %card;
    transform: rotateY(180deg);
  }

  ::hover {
    background-color: $tertiary-color;
  }
}
