@import "../../variables.scss";

.radioButtons__container {
  display: flex;
  flex-direction: column;
  color: $main-white;
  margin-top: 20px;
  font-size: 12px;
  width: 72%;

  .radioButtons__highAbv {
    background-color: $primary-color;
    margin: 5px 0px;
    border-radius: 10px;
  }

  .radioButtons__highAbv:hover {
    background-color: $primary-color-monochromatic;
  }

  .radioButtons__classic {
    background-color: $primary-color;
    margin: 5px 0px;
    border-radius: 10px;
  }

  .radioButtons__classic:hover {
    background-color: $primary-color-monochromatic;
  }

  .radioButtons__acidic {
    background-color: $primary-color;
    margin: 5px 0px;
    border-radius: 10px;
  }

  .radioButtons__acidic:hover {
    background-color: $primary-color-monochromatic;
  }

  input {
    margin-bottom: 10px;
  }

  label {
    font-size: larger;
    padding: 2px;

    :hover {
      background-color: $primary-color-monochromatic;
    }
  }
}
