@import "../../variables.scss";

.searchButtonsContainer {
  display: flex;
  flex-direction: column;
  color: $main-white;
  margin-top: 20px;
  font-size: 10px;

  .highAbv {
    background-color: $primary-color;
    margin: 5px;
    border-radius: 10px;
  }

  .classic {
    background-color: $primary-color;
    margin: 5px;
    border-radius: 10px;
  }

  .acidic {
    background-color: $primary-color;
    margin: 5px;
    border-radius: 10px;

  }

  input {
    margin-bottom: 10px;
  }

  label {
    font-size: larger;
    // background-color: $primary-color;
    padding: 2px;
  }
}
