@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Mountains+of+Christmas:wght@700&family=Poppins:wght@300&family=Roboto&display=swap");

* {
  font-family: Roboto;
}

.landingPage {
  display: flex;

  .sideNav {
    width: 30%;
  }
}
